<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complex Function Mapping</title>
    <link rel="stylesheet" href="/static/style.css?v=1.0.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Complex Function z-w plane Mapping</h1>
        <form method="post">
            <label class="function-label"for="function_input">Enter a complex function of z:</label>
            <input 
                type="text" 
                class = "input-field"
                id="function_input" 
                name="function_input" 
                placeholder="e.g., sin(z) , z^2, exp(z)" 
                value="{{ function_str | default('sin(z)') }}" 
                required>
            <button class = "plot-btn" type="submit">MAP</button>
        </form>
    </div>

    {% if error_message %}
        <div class="error-message">{{ error_message }}</div>
    {% endif %}

    {% if plot_path %}
        <div class="plot">
            <h2>Mapping Result</h2>
            <img src="{{ url_for('static', filename='plot.png') }}" alt="Complex function mapping">
        </div>
    {% endif %}


    <hr>  
    <p class = "cpright">© s.i.ayonto</p>

</body>
</html>
