<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=1024"> -->
    <title>Complex Function Mapping</title>
    <link rel="stylesheet" href="/static/style.css?v=1.5.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Complex Function z-w Plane Mapping</h1>
        <form method="post">
            <label class="function-label"for="function_input">Enter a complex function of z :</label>
            <input 
                type="text" 
                class = "input-field"
                id="function_input" 
                name="function_input" 
                placeholder="e.g., sin(z) , z^2, exp(z)" 
                value="{{ function_str | default('sin(z)') }}" 
                required>
            <button class = "plot-btn" id="map-btn" type="submit">Map</button>
        </form>
    </div>

    {% if error_message %}
        <div class="error-message">{{ error_message }}</div>
    {% endif %}

    {% if plot_path %}
    <div class="plot">
        <h2>Mapping Result</h2>
        <img src="/plot.png?{{ now | int }}" alt="Complex function mapping">
    </div>
    {% endif %}


    <footer>

        <hr> 
        <div> 
            <a href = "https://github.com/Ayonto/complex-map" alt = "github" target="_blank">
                <ion-icon name="logo-github"></ion-icon>
            </a>
            <a href = "https://x.com/_S_I_Ayonto" alt = "twitter" target="_blank">
                <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href = "https://www.linkedin.com/in/s-i-ayonto/" alt = "linkedin" target="_blank">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>

            <div>
                <p class = "cpright">© s.i.ayonto</p>
            </div>
        </div>
        
    </footer>

    <script>
        document.getElementById("map-btn").addEventListener("keydown", function(event) {
          if (event.keyCode === 13) {
            document.getElementById("map-btn").click();
          }
        });
      </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
